<nav class="navbar navbar-inverse navbar-fixed-top">
  <!--<h1>Gestion Produit</h1>-->
  <!--<app-edit></app-edit>
  <app-liste></app-liste>-->
<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-target="#navbar" aria-controls="navbar">
      <span class="src-only">Toogle navigation</span>
    </button>
    <a class="navbar-brand" href="#"> Images manager</a>
  </div>
  <div id="navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li class="hover"><a routerLink="/home">Home</a></li>
      <li class="hover"><a routerLink="/edit/0">edition</a></li>
      <li class="hover"><a routerLink="/upload">upload</a></li>
    </ul>
  </div>
</div>
</nav>

<router-outlet></router-outlet>